<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-links">
      <a href="/sitemap.xml">Sitemap</a>
      <a href="/llms.txt">llms.txt</a>
      <a href="https://mcpbr.org">mcpbr</a>
      <a href="https://evaldriven.org">evaldriven</a>
    </div>
    <p class="footer-credit">Created by <a href="{{ site.author_url }}" rel="noopener noreferrer" target="_blank">Grey Newell</a></p>
  </div>
</footer>
